@model TransportWeb.Models.Vehicles
@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between">
    <div class="col-4">
        <h4 class="text-success"> Vehicle Details</h4>
    </div>
    <div class="col-2">
        <a class="btn btn-success" asp-action="AddVehicleDetails"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Add Vehicle</a>

    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Vehicle Number
            </th>
            <th>
                Capacity
            </th>
            <th>
                Available Seats
            </th>
            <th>
                Route Name
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Model.RouteList.Find(x=>x.RouteNum == item.RouteNum).RouteName
                </td>                
                <td>
                    @if (item.IsOperable == true)
                    {
                       <i class="fa fa-check" style="color:green" aria-hidden="true"></i>                      
                    }
                    else
                    {
                        <i class="fa fa-times" style="color:red" aria-hidden="true"></i>                  
                    }
                </td>
                <td>
                    @Html.ActionLink(" Edit","EditVehicleDetails", new { id=item.VehicleId },new { @class = "btn btn-warning btn-sm fa fa-pencil"})
                    @*   @Html.ActionLink("Details", "GetVehicleDetails", new { id=item.VehicleId} , new{@class="btn btn-success btn-sm"} ) |*@
                    @Html.ActionLink(" Delete", "DeleteVehicleDetails", new { id=item.VehicleId},new{@class="btn btn-danger btn-sm fa fa-trash"} )
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.VehicleList.Count == 0)
{
    <h6 class="text-success">No Data Available</h6>
}