@model IEnumerable<TransportWeb.Models.VehicleInfo>
@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between">
    <div class="col-4">
        <h4 class="text-success"> Vehicle Details</h4>
    </div>
    <div class="col-2">
        <a class="btn btn-success" asp-action="AddVehicleDetails">Create New</a>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOperable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @if (item.IsOperable == true)
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <label>No</label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit","EditVehicleDetails", new { id=item.VehicleNum },new { @class = "btn btn-warning btn-sm" })
                    @*   @Html.ActionLink("Details", "GetVehicleDetails", new { id=item.VehicleNum} , new{@class="btn btn-success btn-sm"} ) |*@
                    @Html.ActionLink("Delete", "DeleteVehicleDetails", new { id=item.VehicleNum},new{@class="btn btn-danger btn-sm"} )
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count() == 0)
{
    <h6 class="text-success">No Data Available</h6>
}